In [2]:
#讀取csv資料
import pandas as pd
#比較不同年級與作業題目
data = pd.read_csv("hw.csv")
print(data)

    Unnamed: 0   姓名 年級               主題
0            1  柯品安  三   28. Contact Us
1            2  林品君  三   28. Contact Us
2            3  陳怡庭  四       1. Sign Up
3            4  林湘婷  四       22. Search
4            5  施雅蓉  四       22. Search
5            6  謝姵安  四   28. Contact Us
6            7  黃采婕  四      2. Checkout
7            8  顧庭瑜  三      2. Checkout
8            9  鍾舒卉  四       1. Sign Up
9           10  陳伊柔  三      8. 404 Page
10          11  陳品諭  三   28. Contact Us
11          12  謝宜臻  三  6. User Profile
12          13  廖季淳  三       1. Sign Up
13          14  楊婕渝  三  6. User Profile
14          15  蔡昀臻  三      2. Checkout
15          16  蘇意翎  三  6. User Profile
16          17  張少萁  二      8. 404 Page
17          18  郭玟慧  二       22. Search
18          19  李詩元  二       1. Sign Up
19          20  高靚芯  二      8. 404 Page
20          21  周昶言  二      2. Checkout
21          22  徐曉光  二       1. Sign Up
22          23  黃靖文  二  6. User Profile
23          24  周真行  二       22. Search
24          25  陳祈福  二   28. Contact Us
25          26  周鈺璇  二      2. Checkout
26          27  陳思嘉  二       1. Sign Up
27          28  黃宇揚  二  6. User Profile
28          29  莊子逸  二      2. Checkout
29          30  陳淳鈺  二      8. 404 Page
30          31  鄭芷昀  二  6. User Profile
31          32  許晴閔  三  6. User Profile
32          33  許慧儀  三      2. Checkout
33          34  祝嘉妤  四       22. Search
34          35  許育瑄  四      8. 404 Page
35          36  黃子芯  三      2. Checkout
36          37  周如茵  三  6. User Profile
37          38  呂元妙  二   28. Contact Us
38          39  呂建廷  三      2. Checkout
39          40  林龍心  三       1. Sign Up
40          41  林佳姸  四   28. Contact Us
41          42  曾士瑋  四      2. Checkout
42          43  陳思岑  二       1. Sign Up
43          44  俞凱馨  四       22. Search

In [3]:
#總數
len(data)

44

In [5]:
#印出一列資料
print(data["年級"])

0     三
1     三
2     四
3     四
4     四
5     四
6     四
7     三
8     四
9     三
10    三
11    三
12    三
13    三
14    三
15    三
16    二
17    二
18    二
19    二
20    二
21    二
22    二
23    二
24    二
25    二
26    二
27    二
28    二
29    二
30    二
31    三
32    三
33    四
34    四
35    三
36    三
37    二
38    三
39    三
40    四
41    四
42    二
43    四
Name: 年級, dtype: object

In [11]:
#印出二年級的選課同學
two = data[data['年級'].str.contains("二")]
print(two)

    Unnamed: 0   姓名 年級               主題
16          17  張少萁  二      8. 404 Page
17          18  郭玟慧  二       22. Search
18          19  李詩元  二       1. Sign Up
19          20  高靚芯  二      8. 404 Page
20          21  周昶言  二      2. Checkout
21          22  徐曉光  二       1. Sign Up
22          23  黃靖文  二  6. User Profile
23          24  周真行  二       22. Search
24          25  陳祈福  二   28. Contact Us
25          26  周鈺璇  二      2. Checkout
26          27  陳思嘉  二       1. Sign Up
27          28  黃宇揚  二  6. User Profile
28          29  莊子逸  二      2. Checkout
29          30  陳淳鈺  二      8. 404 Page
30          31  鄭芷昀  二  6. User Profile
37          38  呂元妙  二   28. Contact Us
42          43  陳思岑  二       1. Sign Up

In [12]:
#交集-大二 且 主題是1. Sign Up
intersection=data[(data["年級"]=="二") & (data["主題"]=="1. Sign Up")]
print(intersection)

    Unnamed: 0   姓名 年級          主題
18          19  李詩元  二  1. Sign Up
21          22  徐曉光  二  1. Sign Up
26          27  陳思嘉  二  1. Sign Up
42          43  陳思岑  二  1. Sign Up

In [14]:
#聯集-大二 或 主題是1. Sign Up
union=data[(data["年級"]=="二") | (data["主題"]=="1. Sign Up")]
union.tail(10)

    Unnamed: 0   姓名 年級               主題
24          25  陳祈福  二   28. Contact Us
25          26  周鈺璇  二      2. Checkout
26          27  陳思嘉  二       1. Sign Up
27          28  黃宇揚  二  6. User Profile
28          29  莊子逸  二      2. Checkout
29          30  陳淳鈺  二      8. 404 Page
30          31  鄭芷昀  二  6. User Profile
37          38  呂元妙  二   28. Contact Us
39          40  林龍心  三       1. Sign Up
42          43  陳思岑  二       1. Sign Up

In [ ]:
#差集- 大二 但 主題不是1. Sign Up
difference=data[(data["年級"]=="二") | (data["主題"]!="1. Sign Up")]
difference.head(10)